body{
  background-image:url(images/tttttt.jpg);
  background-size: 100%;
  font-family: monospace;
}
.C1{
	color: orange;
	font-size:20px;
	background-color: black;
}
 table{
 	margin-top:2%;
 	margin-left:3%;
 	background-color:rgba(255,165,0,0.5);
 	
 }
 .TD{
 	font-size: 19px;
 	background-color: orange;
 	color: black;
 	text-align: center;
 }
 .C2{
 	color:yellow;
 	margin-left:20%; 
 	background-color:rgba(0,0,0,0.5);
 	text-align: center;
 	font-size:30px;
 }
 .DT{
 	font-size:20px;
 }